# Pandas Pivot Table [13 exercises with solution]

In [2]:
# Importing libraries and data:

import numpy as np
import pandas as pd

sales_pivot = pd.read_excel('SaleData.xlsx')

In [3]:
# Exploring the data:

sales_pivot.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95.0,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50.0,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36.0,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27.0,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56.0,1198.0,67088.0

## 13 Exercises Solutions:

### 1. Write a Pandas program to create a Pivot table with multiple indexes from a given excel sheet (Salesdata.xlsx).