# Pandas Movies Data Analysis [17 exercises with solution]

#### Importing Libraries and Data:

In [8]:
import numpy as np
import pandas as pd

movies_data = pd.read_csv('movies_metadata.csv')

#### Exploring the data:

In [11]:
movies_data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

# 17 Exercises Solutions:

### 1. Write a Python Pandas program to get the columns of the DataFrame (movies_metadata.csv file).

### 2. Write a Pandas program to get the information of the DataFrame (movies_metadata.csv file)including data types and memory usage.

### 3. Write a Pandas program to get the details of the thrid movie of the DataFrame (movies_metadata.csv file).

### 4. Write a Pandas program to count the number of rows and columns of the DataFrame (movies_metadata.csv file).

### 5. Write a Pandas program to get the details of the columns title and genres of the DataFrame.

### 6. Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'.

### 7. Write a Pandas program to get the details of  fifth movie of the DataFrame.

### 8. Write a Pandas program to create a smaller dataframe with a subset of all features.

### 9. Write a Pandas program to display the first 10 rows of the DataFrame.

### 10. Write a Pandas program to sort the DataFrame based on release_date.

### 11. Write a Pandas program to access those movies, released after 1995-01-01.

### 12. Write a Pandas program to sort movies on runtime in descending order.

### 13. Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million.

### 14. Write a Pandas program to get the longest runtime and shortest runtime.

### 15. Write a Pandas program to compute the calculate the number of votes garnered by the 70% movie.

### 16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.

### 17. Write a Pandas program to display the movies (title, number of votes) that received specified number of votes

# The END

#### Reference: [https://www.w3resource.com/python-exercises/pandas/movies/index.php](https://www.w3resource.com/python-exercises/pandas/movies/index.php)